<div fxFill fxLayout="column">
    <mat-tree #tree fxFlex [dataSource]="dataSource" [treeControl]="treeControl" class="question-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li class="mat-tree-node">
                <button mat-icon-button disabled></button>
                <section
                    fxFill
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    fxLayoutGap="5px">
                    <div>
                        <b>{{node.linkId}}</b>
                    </div>
                    <div [class.sub-title]="isTopLevel(node)" fxFlex.xs fxFlex="30%">{{node.text}}</div>
                    <ng-container [ngTemplateOutlet]="inputChooser"
                        [ngTemplateOutletContext]="{nd:node}">
                    </ng-container>
                </section>
            </li>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li>
                <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.linkId">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <section
                        fxLayout="row wrap"
                        fxLayoutAlign="start center"
                        fxLayoutGap="5px">
                        <div>
                            <b>{{node.linkId}}</b>
                        </div>
                        <div [class.sub-title]="isTopLevel(node)">{{node.text}}</div>
                        <ng-container [ngTemplateOutlet]="inputChooser"
                            [ngTemplateOutletContext]="{nd:node}">
                        </ng-container>
                    </section>
                </div>
                <ul [class.question-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>
    <div style="color: red;">
        <b>For response object, the critical field is "item" which is tree structure, if you input answer, it will
            update accordingly. Other fields are just primitive types which can add easily, eg:
            responseObject['subject']="some subject". I didn't add them in this demo.</b>
    </div>
    <div>
        <pre fxLayout="row wrap" style="overflow: visible;">
        {{json | json }}
    </pre>
    </div>
</div>
<ng-template #inputChooser let-n='nd'>
    <ng-container [ngSwitch]="n.type">
        <div *ngSwitchCase="'string'" fxFlex="60%" fxFlex.xs="100%">
            <mat-form-field
                appearance="outline"
                fxFlex="300px"
                fxFlex.xs="nogrow">
                <mat-label>Answer</mat-label>
                <input [(ngModel)]="n['answer']" matInput type="text">
            </mat-form-field>
        </div>
        <div *ngSwitchCase="'boolean'" fxFlex="60%" fxFlex.xs="100%">
            <mat-radio-group [(ngModel)]="n['answer']">
                <mat-radio-button class="radio-margin" value="true">Yes</mat-radio-button>
                <mat-radio-button class="radio-margin" value="false">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngSwitchCase="'date'" fxFlex="60%" fxFlex.xs="100%">
            <mat-form-field
                appearance="outline"
                fxFlex="300px"
                fxFlex.xs="nogrow">
                <mat-label>Choose a date</mat-label>
                <input
                    [(ngModel)]="n['answer']"
                    matInput
                    [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngSwitchDefault></div>
    </ng-container>
</ng-template>